* {
    margin: 0;
    padding: 0;
}

:root {
    --container-width: 600px;
    --container-height: 480px;
    --card-size: 100px;
    --card-margin: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.no-clicking {
    pointer-events: none;
}

.options {
    width: 250px;
    background-color: #daa;
    padding: 15px;
    position: absolute;
    left: 0;
    top: 0;
}

.options h2 {
    margin-bottom: 10px;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 120, 210, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.overlay button, .overlay select {
    padding: 7px 30px;
    font-weight: bold;
    color: #fff;
    background-color: #5aa;
    border: 3px solid #377;
    border-radius: 7px;
    cursor: pointer;
    letter-spacing: 1px;
}

.overlay button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}

.overlay select {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
}

.info {
    padding: 5px;
    width: var(--container-width);
    margin: auto;
    background-color: #aaa;
    color: #555;
}

.card-container {
    width: var(--container-width);
    height: var(--container-height);
    margin: auto;
    padding: 5px;
    background-color: #eee;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.card-container .card {
    height: var(--card-size);
    width: var(--card-size);
    margin: var(--card-margin);
    position: relative;
    cursor: pointer;
}

.card .front, .card .back {
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    transition: transform .5s;
    width: 100%;
    height: 100%;
}

.card .front {
    z-index: 1;
    background-color: #ccc;
    backface-visibility: hidden;
}

.card .back {
    transform: rotateY(-180deg);
    background-size: cover;
    background-position: center;
}

.card.flipped .front, .card.match .front {
    transform: rotateY(180deg);
}

.card.flipped .back, .card.match .back {
    transform: rotateY(0deg);
}

.test {
    width: 100px;
    height: 100px;
    background-color: #b22;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform .5s;
}